<div class="container">

  <h1 class="mt-3">
    Pipes <small> Angular </small>
  </h1>
  <hr>
  
  <div class="row">
    <div class="col">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Variable</th>
            <th scope="col">Pipe</th>
            <th scope="col">Salida</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>{{ nombre }}</td>
            <td>Uppercase</td>
            <td>{{ nombre | uppercase }}</td>
          </tr>

          <tr>
            <td>{{ nombre2 }}</td>
            <td> capitalizado </td>
            <td>{{ nombre2 | capitalizado:false }}</td>
          </tr>

          <tr>
            <td>{{ nombre }}</td>
            <td>Lowercase</td>
            <td>{{ nombre | lowercase }}</td>
          </tr>

          <tr>
            <td>{{ nombre }}</td>
            <td>Slice:3</td>
            <td>{{ nombre | slice:3 }}</td>
          </tr>

          <tr>
            <td>{{ nombre }}</td>
            <td>Slice:0:3</td>
            <td>{{ nombre | slice:0:3 }}</td>
          </tr>

          <tr>
            <td>{{ arreglo }}</td>
            <td>Slice:1:5</td>
            <td>{{ arreglo | slice:1:5 }}</td>
          </tr>

          <tr>
            <td>{{ PI }}</td>
            <td>number:'3.0-0'</td>
            <td>{{ PI | number:'3.0-0'  }}</td>
          </tr>

          <tr>
            <td>{{ PI }}</td>
            <td>number:'.0-2'</td>
            <td>{{ PI | number:'.0-2' }}</td>
          </tr>

          <tr>
            <td>{{ porcentaje }}</td>
            <td> percent </td>
            <td>{{ porcentaje | percent }}</td>
          </tr>
          
          <tr>
            <td>{{ porcentaje }}</td>
            <td> percent:'2.2-2' </td>
            <td>{{ porcentaje | percent:'2.2-2' }}</td>
          </tr>
          
          <tr>
            <td>{{ salario }}</td>
            <td> currency </td>
            <td>{{ salario | currency }}</td>
          </tr>
          
          <tr>
            <td>{{ salario }}</td>
            <td> currency:'MXN' </td>
            <td>{{ salario | currency:'MXN' }}</td>
          </tr>

          <tr>
            <td>{{ salario }}</td>
            <td> currency:'MXN$ ':'symbol-narrow':'.0-0' </td>
            <td>{{ salario | currency:'MXN$ ':'symbol-narrow':'.0-0' }}</td>
          </tr>

          <tr>
            <td>{{ valorPromesa }}</td>
            <td> Async </td>
            <td>{{ valorPromesa | async }}</td>
          </tr>

          <tr>
            <td>{{ fecha }}</td>
            <td> Date </td>
            <td>{{ fecha | date }}</td>
          </tr>

          <tr>
            <td>{{ fecha }}</td>
            <td> Date:'medium' </td>
            <td>{{ fecha | date:'medium' }}</td>
          </tr>

          <tr>
            <td>{{ fecha }}</td>
            <td> Date:'short' </td>
            <td>{{ fecha | date:'short' }}</td>
          </tr>

          <tr>
            <td>{{ fecha }}</td>
            <td> Date:'MMMM -dd' </td>
            <td>{{ fecha | date:'MMMM - dd' }}</td>
          </tr>
          
          <tr>
            <td>{{ fecha }}</td>
            <td> 
              Date:'MMMM - dd':'':'{{ idioma }}'
              <br>
              <button (click)="idioma='es-MX'" class="mr-2 btn btn-primary">Español</button>
              <button (click)="idioma='en'" class="mr-2 btn btn-dark">Inglés</button>
              <button (click)="idioma='fr'" class="mr-2 btn btn-success">Frances</button>
            </td>
            
            <td>{{ fecha | date:'MMMM - dd':'':idioma}}</td>
          </tr>
          
          <tr>
            <td>{{ nombre }}</td>
            <td>Contraseña {{ activar }}
              <br>
              <button class="btn btn-primary" (click)="activar=!activar">
                Ocultar
              </button>
            </td>
            <td>
              {{ nombre | activar:activar }}
            </td>
          </tr>


        </tbody>
      </table>
  
      <h4> Slice </h4>
      <hr>
      <ul>
        <li *ngFor="let item of arreglo | slice:5:20">
          {{ item }}
        </li>
      </ul>

      <h4>Json</h4>
      <hr>
      <div class="row mb-5">
        <div class="col">
          <pre>
            {{ heroe | json }}
          </pre>
        </div>
      </div>

      <h4 class="mt-4">Domeseguro</h4>
      <hr>
      <div class="row mb-5">
        <div class="col">
          <iframe width="560" height="315" 
          [src]="videoURL | domseguro" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen>
        </iframe>
        </div>
      </div>

    </div>
  </div>
</div>